:root {
  --primary-white: #fff;
  --primary-orange: #FF6400;
  --off-white: #F4F0D8;
  --primary-blue: #0057FF;
  --box-shadow: -5px -28px 100px 0px #FAF4E1 inset, 0px -13px 10px 0px #C8E4FF inset, 20px 16px 10px 0px rgba(255, 249, 249, 0.30) inset, 11px 15px 15px 0px rgba(0, 0, 0, 0.25);
  --transform-btn: scale(0.9);
  --transition-btn: 250ms all ease-in-out;
}

/* Custom Background CSS starts */

.App {
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.menu,
.instruction,
.level,
.game,
.summary {
  width: 100%;
  height: 100vh;
}

.game {
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Custom Background CSS ends */

/* Menu Page CSS Start*/

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu-heading img {
  width: 700px;
}

.menu-btn {
  width: 120px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  transition: var(--transition-btn);
}

.menu-btn img {
  width: 100%;
}

.menu-btn:hover {
  transform: var(--transform-btn);
}

/* Menu Page CSS End*/

/* Instruction Page CSS Starts */

.instruction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruction-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 500px;
  background: var(--primary-white);
  padding: 1rem 2rem;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

.instruction-text-item {
  width: 80%;
  display: flex;
  margin: 25px auto;
}

.instruction-text-item img {
  width: 30px;
  margin-right: 20px;
}

.instruction-text-item p {
  text-align: justify;
  font-size: 22px;
  font-weight: 900;
}

.instruction-btn {
  width: 200px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition-btn);
}

.instruction-btn img {
  width: 100%;
}

.instruction-btn:hover {
  transform: var(--transform-btn);
}

/* Instruction Page CSS Ends */


/* Level Page CSS Starts */

.level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.level-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 350px;
  background: var(--primary-white);
  padding: 2rem;
  border: 4px solid var(--primary-blue);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  margin-bottom: 2rem;
}

.level-box .level-heading {
  width: 80%;
  margin-bottom: 2.5rem;
}

.level .level-box .radio-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.level .level-box .radio-item label {
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 3px;
  color: #D9D9D9;
  text-shadow: -1px -1px 1px #292929;
}

.level .level-box .radio-item input {
  appearance: none;
  border: 3px solid var(--dark-blue);
  background-color: #D9D9D9;
  width: 40px;
  height: 40px;
  border-radius: 17px;
}

.level .level-box .radio-item input:checked {
  background-image: url("./assets/radio-btn.svg");
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.level .level-btn {
  width: 160px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition-btn);
}

.level .level-btn:hover {
  transform: var(--transform-btn);
}

.level .level-btn img {
  width: 100%;
}

/* Level Page CSS Ends */

/* Game Page CSS starts */

.game {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  background: var(--primary-white);
  border-radius: 25px;
  width: 95%;
}

.game-pause-btn {
  /* width: 70px; */
  height: 60px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition-btn);
}

.game-pause-btn:hover {
  transform: var(--transform-btn);
}

.game-pause-btn img {
  height: 100%;
}

.game-timer-count {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-size: 25px;
  color: var(--primary-orange);
}

.game-main {
  margin-top: 2rem;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-img-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid var(--primary-blue);
  width: 350px;
  height: 300px;
  border-radius: 2.5rem;
  background: var(--off-white);
  background-image: url("./assets/game-card-bg.png");
  background-position: center center;
  background-size: 250px 250px;
  background-repeat: no-repeat no-repeat;
}

.game-img-card h1 {
  font-family: 'Cabin Sketch', cursive;
  color: var(--primary-white);
  font-size: 10rem;
}

.game-main-heading {
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
}

.game-input {
  background: #8799BD;
  width: 350px;
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  color: var(--primary-white);
  font-weight: 800;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.game-input::placeholder {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--primary-white);

}

.game-submit-btn {
  border: none;
  outline: none;
  background: transparent;
  width: 200px;
  cursor: pointer;
  transition: var(--transition-btn);
}

.game-submit-btn:hover {
  transform: var(--transform-btn);
}

.game-submit-btn img {
  width: 100%;
}

/* Game Page CSS  ends */


/* Summary Page CSS Starts */

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-box {
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--primary-white);
  padding: 2rem;
  border: 4px solid var(--primary-blue);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.summary-box .summary-heading {
  width: 150px;
  /* height: 30px; */
}

.summary-box .summary-star {
  width: 250px;
}

.summary-box .summary-level {
  font-weight: 900;
  font-size: 0.9rem;
  color: var(--dark-blue);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.summary-box .summary-score-box {
  width: 170px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 20px;
  padding: 15px 0;
}

.summary-box .summary-score-box h3 {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-align: center;
  color: var(--primary-blue);
}

.summary-box .summary-score-subtitle {
  margin-top: 5px;
  margin-bottom: 2px;
  font-weight: 900;
  font-size: 1.3rem;
  color: var(--dark-blue);
  text-transform: uppercase;
}

.summary-btn button {
  width: 65px;
  margin: 10px;
  /* height: 70px; */
  outline: none;
  border: none;
  cursor: pointer;
  transition: var(--transition-btn);
  background: none;
}

.summary-btn button:hover {
  transform: var(--transform-btn);
}

.summary-btn img {
  width: 100%;
}
/* Summary Page CSS Ends */




/* Tablet Styles Start */

@media (min-width: 768px) and (max-width: 1024px) {
  /* Menu CSS for Tablet Starts */
  .menu-heading img {
    width: 650px;
  }
  /* Menu CSS for Tablet Ends */

  /* Instruction CSS for Tablet Starts */
  .instruction-box {
    width: 85%;
  }
  .instruction-text-item {
    width: 95%;
  }
  /* Instruction CSS for Tablet Ends */
}

/* Tablet Styles End */
